DEBUG=True

SECRET_KEY="<SECRET_KEY>"
SECRET_ENCRYPTION_KEY="<SECRET_KEY>"
SECRET_ENCRYPTION_SALT="<SECRET_KEY>"
PGCRYPTO_KEY="<SECRET_KEY>"
RECAPTCHA_SECRET_KEY="<SECRET_KEY>"

ALLOWED_HOSTS=127.0.0.1,localhost
INTERNAL_IPS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://localhost:8001
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://localhost:8001

CSRF_COOKIE_DOMAIN=
SESSION_COOKIE_DOMAIN=

LOGIN_URL=/admin/login/
PASSWORD_RESET_TIMEOUT=1800
SESSION_COOKIE_AGE=1800

DATABASE_URL=postgres://artriapp:artriapp@artriapp-db:5432/artriapp
CACHE_URL=redis://artriapp-cache:6379/1

CACHE_ENABLED=True
CACHE_TIMEOUT=900

EMAIL_HOST=host.docker.internal
EMAIL_PORT=25
EMAIL_HOST_USER=user
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=sistema.artriapp.pe@artriapp-api.pe.gov.br

LDAP_SERVER_URI=ldaps://ldapslave.expresso.pe.gov.br:636
LDAP_START_TLS=False
LDAP_BASE_DN=dc=pe,dc=gov,dc=br
LDAP_USER_SEARCH="(mail=%(user)s)"

NUM_WORKERS=5
NUM_THREADS=2
TIMEOUT=600
WORKER_CONNECTIONS=1000

SYSTEM_NAME=artriapp.PE

CONSULTANT_MODULE_HOST=http://localhost:8001
